<hr>
<br>
<footer class="footer-distributed">

    <div class="footer-left">

        <a href="http:///www.makeitortakeit.in">
            <p>MakeItorTakeIt.in</p>
        </a>

        <p class="footer-links">
            <a href="http:///www.makeitortakeit.in">
                Home
            </a>
            ·

            <a href="http:///www.makeitortakeit.in/FAQ.html">
                FAQ
            </a>
            .


            <a href="http://makeitortakeit.in/about-us.html">
                About
            </a>
            .

            <a href="http://makeitortakeit.in/contact-us.html">
                Contact Us
            </a>
        </p>

        <p class="footer-company-name">
            <a href="https://github.com/CT83">Rohan Sawant</a>, makeitortakeit.in &copy; 2018
        </p>
    </div>


</footer>
