{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">PyMultiPoster!</h1>
        <p class="lead">PyMultiPoster allows users to post to multiple Social Networks with a single click.</p>
        <hr class="my-4">
        <p>Link all your Social Network accounts and post from our simple console.</p>
        <p class="lead">
            <a href="{{ url_for('signup') }}" class="btn-lg btn-primary">
                <span class="fa fa-eye cye-lm-tag"></span> Sign Up!
            </a>
        </p>
    </div>

    <a href="{{ url_for('main') }}" class="btn-lg btn-primary btn-danger">
        <span class="fa fa-plus-circle cye-lm-tag"></span> Create New Posts
    </a>

{% endblock %}