{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">PyMultiPoster</h1>
        <p class="lead">PyMultiPoster allows users to post to multiple Social Networks with a single click.</p>
        <hr class="my-4">
        <p>Link all your Social Network accounts and post from our simple console.</p>
        <p class="lead">
            <a href="#" class="btn-lg btn-warning">
                <span class="fa fa-eye cye-lm-tag"></span> Get Started
            </a>
        </p>
    </div>


    <a href="{{ url_for('Posters.main') }}" class="btn btn-lg btn-primary btn-outline-success">
        <span class="fa fa-pencil cye-lm-tag"></span> Compose Posts
    </a>
    <a href="{{ url_for('user_posts') }}" class="btn btn-lg btn-primary btn-outline-primary">
        <span class="fa fa-align-justify cye-lm-tag"></span> View Post Logs
    </a>
    <a href="{{ url_for('dashboard') }}" class="btn btn-lg btn-primary btn-outline-secondary">
        <span class="fa fa-sign-in cye-lm-tag"></span> Sign into Accounts
    </a>

    <br><br>

    {% if current_user.is_admin() %}
        <a href="{{ url_for('admin_view') }}" class="btn btn-lg btn-primary btn-danger">
            <span class="fa fa-cog cye-lm-tag"></span> View Admin Panel
        </a>
    {% endif %}

{% endblock %}