<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
    <a href="{{ url_for('home') }}" class="navbar-brand">PyMultiPoster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Signed in as {{ current_user.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('Login.logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="nav-item">
                    <a class="nav-link" href="{{ url_for('Login.login') }}">Login</a>
                </div>
            {% endif %}
            <a class="nav-link nav-item" href="#">Help</a>
        </div>
    </div>
</nav>
