{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <style>
        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>

    <script>
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>

    <div class="jumbotron">
        <h3>Post to Instagram</h3>
        <p class="lead"> Posting to Instagram using Graph API is still in closed Beta, hence it is not available at the
            moment.</p>
        <p class="lead"><b> Steps to manually post to Instagram </b></p>
        <ol type="1">
            <li>
                Follow the initial setup instructions
                <a href="#"
                   onclick="openInNewTab('{{ url_for('OAuthWorkflow.instagram_login') }}');"
                   target="_blank">
                    here.</a>
            </li>
            <li>Click the <b>Copy Button</b> to copy the caption to your clipboard.</li>
            <li>Open <b>Desktop for Instagram</b> from the Chrome Apps Toolbar</li>
            <li>Click the <b>Plus (+) Icon</b> in the center of the screen.</li>
            <li>Select the image which you want to post.</li>
            <li>Click <b>Next</b></li>
            <li><b>Paste</b> the caption from your clipboard in the text area.</li>
            <li>Click <b>Share</b></li>
            <li>Close the tab after posting the image.</li>
            <li>Click <b>Confirm Manual Post and Proceed</b>.</li>
        </ol>
    </div>


    <script>
        function copyText() {
            var copyText = document.getElementById("{{ form.post.id }}");
            copyText.select();
            document.execCommand("Copy");
        }

    </script>


    <h4>Edit Instagram Post</h4>
    <br>

    <button onclick="copyText()" class="btn-sm btn-primary">
        <span class="tooltiptext fa fa-copy cye-lm-tag" id="myTooltip"></span>
        <b>Copy</b>
    </button>
    Paste the copied text in Instagram's Caption input field, and then click
    <em> Confirm Manual Post & Proceed</em>
    <br>
    <br>

    <form action="{{ url_for('Posters.instagram_poster') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ wtf.quick_form(form) }}
        </fieldset>
    </form>

    <br>

{% endblock %}