{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <div id="fb-root"></div>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{facebook_client_id}}',
                status: true,
                cookie: true,
                xfbml: true
            });
        };

        (function (d) {
            var js, id = 'facebook-jssdk',
                ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "https://connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        function login() {
            FB.login(function (response) {
                if (response.authResponse) {
                    var access_token = FB.getAuthResponse()['accessToken'];
                    {#                    console.log('Access Token = ' + access_token);#}
                    {#                    FB.api('/me', function (response) {#}
                    {#                        console.log('Good to see you, ' + response.id + '.');#}
                    {#                    });#}
                    var queryString = '?accessToken=' + access_token;
                    var url = "{{ url_for('OAuthWorkflow.facebook_redirect') }}" + queryString;
                    window.location.replace(url);
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }

            }, {
                scope: 'publish_actions,manage_pages,publish_pages'
            });
        }


        var status = FB.getLoginStatus();
    </script>

    <div class="jumbotron">
        <h1>PyMultiPoster!</h1>
        <p class="lead">Sign into all your Accounts to allow us to access them.</p>
        <p>All Passwords and Authentication tokens are stored on our servers.</p>
        <p>Your can manage your your stored credentials below.</p>
        <p class="lead">
            <a href="{{ url_for('OAuthWorkflow.manage_credentials') }}" class="btn-lg btn-warning">
                <span class="fa fa-eye cye-lm-tag"></span> Manange Credentials
            </a>
        </p>
    </div>

    <br>
    <br>

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Signed In</h5>
            <p class="card-text">Logged in as Username.</p>
            <a class="btn btn-primary btn-social btn-twitter" onclick="login();">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>

        </div>
    </div>


    <a href="{{ linkedin_login }}" class="btn btn-lg btn-social btn-linkedin">
        <span class="fa fa-linkedin"></span> Sign in with LinkedIn
    </a>
    <br>
    <br>


    <a href="{{ tumblr_login }}" class="btn btn-lg btn-social btn-tumblr">
        <span class="fa fa-tumblr"></span> Sign in with Tumblr
    </a>
    <br>
    <br>

    <a href="{{ twitter_login }}" class="btn btn-lg btn-social btn-twitter">
        <span class="fa fa-twitter"></span> Sign in with Twitter
    </a>
    <br>
    <br>


    <a href="{{ instagram_login }}" class="btn btn-lg btn-social btn-instagram">
        <span class="fa fa-instagram"></span> Setup Instagram
    </a>
    <br>
    <br>

{% endblock %}