{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <script>
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>
    <div class="jumbotron">
        <h3>Setup Instagram Posting</h3>
        <p class="lead"> Steps to get Instagram Posting working.</p>
        <ol type="1">
            <li>
                Install the
                <a href="#"
                   onclick="openInNewTab('https://chrome.google.com/webstore/detail/desktop-for-instagram/nlhjgcligpbnjphflfdbmabbmjidnmek');"
                   target="_blank">
                    Desktop for Instagram</a> Chrome Extension.
            </li>
            <li>Open <b>Desktop for Instagram</b> from the Chrome Apps Toolbar</li>
            <li>Sign in your Instagram Account in the Chrome Extension Tab.</li>
        </ol>

    </div>


{% endblock %}