{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}


    <div class="jumbotron">
        <h3>Your Credentials</h3>
        <p class="lead">All your saved credentials are displayed here.</p>
        <p>You can delete all your saved credentials and start over fresh.</p>
        <p><em>Note;</em> <b>This action cannot be undone.</b></p>
        <p class="lead">
            <a href="{{ url_for('OAuthWorkflow.delete_all_credentials') }}" class="btn-lg btn-warning">
                <span class="fa fa-trash cye-lm-tag"></span> Delete Stored Credentials
            </a>
        </p>
    </div>

    {% if cred is not none %}
        <table class="table table-hover table-striped table-responsive">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            {% for attr, value in cred.__dict__.items() %}
                {% if attr not in '_sa_instance_state' and attr not in 'id' %}

                    <tr>
                        <td>{{ attr }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
        </table>
    {% else %}
        <p><b>No Saved Credentials Found.</b></p>
        <br>
        <a href="{{ url_for("OAuthWorkflow.dashboard") }}" class="btn-lg btn-outline-success">
            <span class="fa fa-trash cye-lm-tag"></span> Add new Credentials
        </a>
    {% endif %}

{% endblock %}